# Virtual Environment
.venv/

# Python
__pycache__/
*.pyc

# Uploaded Files
uploads/

# Trained Models
models/

# Environment Variables
.env

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db


# CatBoost
catboost_info/


# Logs
logs/
*.log